/*


COLOR PALETTES:

* #8f7f6e - brownish theme from logo 
* #4f4944 - dark brownish theme from logo
* #5e534b - slightly lighter dark brownish theme
* #839788 - green

*/



/* IDS */
#main_img_title {
    max-width: 300px;
    padding: 10px;
}




#welcome_text {
    width: 100%;
}

#brackets {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}


#title_dark {
    display: block;
    margin-left: auto; padding-top: 50;
    margin-right: auto;
    width: 470px;
}

/* Universal */

/*
body {
    background-image: linear-gradient(#5f5a57,#837b77,#5f5a57);
}
*/



body {
    background-image: url(resources/background.gif);
}

ul, li {
    font-family:
    'Trebuchet MS', 
    'Lucida Sans Unicode', 
    'Lucida Grande', 
    'Lucida Sans';
    color: #5f5a57;
}



h2,h3,h4,h5,h6 {
    font-family:
    'Trebuchet MS', 
    'Lucida Sans Unicode', 
    'Lucida Grande', 
    'Lucida Sans';
    color: #5f5a57;
}

p,a {
    font-family:
    'Trebuchet MS', 
    'Lucida Sans Unicode', 
    'Lucida Grande', 
    'Lucida Sans';
    color: #5f5a57;
}

a {
    font-family:
    'Trebuchet MS', 
    'Lucida Sans Unicode', 
    'Lucida Grande', 
    'Lucida Sans';
    color: white;
}

/* Classes */

.btn {
    background-color: #bebebe; border-style: none; 
    height: 100%; width: 20%; transition: letter-spacing 1s, font-weight 1s;
    color: white; font-family:
    'Trebuchet MS', 
    'Lucida Sans Unicode', 
    'Lucida Grande', 
    'Lucida Sans';
}

.btn_index {
    background-color: #bebebe; border-style: outset; border-width: 5px; border-color: rgb(158, 158, 158);
    height: 65px; width: 100%; transition: letter-spacing 1s, font-weight 1s;
    color: white; font-family:
    'Trebuchet MS', 
    'Lucida Sans Unicode', 
    'Lucida Grande', 
    'Lucida Sans';
    margin-bottom: 10px;
} .btn:hover {
    font-weight: bolder; letter-spacing: 1px;
}

.btn_banner {
    width: 100%; height: 100%; z-index: 1;
} 

.content {
    max-width: 600px; 
    background-image: linear-gradient(white,#d4d4d4);
    margin: auto; 
    border-style: outset; 
}

.notfound {
    max-width: 600px; 
    margin: auto; 
}

/* Elements */
.nav_bar {
    margin-top: 10px; background-color: #cfcfcf;
    width: 100%; height: 30px; 
    border-bottom-style:solid; border-bottom-color: #9c9c9c; border-bottom-width: 4px;
    border-top-style:solid; border-top-color: #839788; border-top-width: 4px;
}

.chat {
    background-color: #cfcfcf;
    width: 80%; margin-left: 50;
    border-bottom-style:solid; border-bottom-color: #9c9c9c; border-bottom-width: 4px;
    border-top-style:solid; border-top-color: #9c9c9c; border-top-width: 4px;
}

/* Sections */
.section_ex {
    font-family:
    'Trebuchet MS', 
    'Lucida Sans Unicode', 
    'Lucida Grande', 
    'Lucida Sans';
}
